
/* ------------------- F O N T S ------------------------ */

@font-face {
    font-family: "Myriad Pro Regular";
    src: url('../Fonts/Myriad Pro Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Hind Semi Bold";
    src: url('../Fonts/Hind-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: "Hind Regular";
    src: url('../Fonts/Hind-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Hind Light";
    src: url('../Fonts/Hind-Light.ttf') format('truetype');
}
@font-face {
    font-family: "Hind Bold";
    src: url('../Fonts/Hind-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'FontAwesome';
    src: url("../Fonts/fontawesome-webfont.svg");
    src: url("../Fonts/fontawesome-webfont.ttf");
    font-weight: normal;
    font-style: normal;
}

/* ---------------- A L L -------------------- */

* {
    margin: 0;
    padding: 0;
}

/* --------------  H E A D E R ------------------ */

                    /* FIRST ROW */

.box {
    white-space: nowrap;
    height: 65px;
    background-color: #ededed;
}
.box div {
    width: auto;
    display: inline-block;
    margin-top: 14px;
    font-family: "Myriad Pro Regular", sans-serif;
    vertical-align: middle;
}
.phila {
    margin: auto 31px auto 139px;
    font-family: "Myriad Pro Regular", sans-serif;
    padding: 10px 10px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5%;
}
.phone {
    color: rgb(86, 86, 85);
}
.adress {
    color: rgb(86, 86, 85);
}
.fa-phone {
    color: black;
}
.fa-location-arrow {
    color: black;
}
.icons {
    float: right;
    margin-right:139px;
    padding-top: 9px;
}
.icons a {
    text-decoration: none;
    color: black;
}
.fa-envelope:hover {
    color: #bc2732;
}
.fa-youtube:hover {
    color: #bc2732;
}
.fa-google-plus:hover {
    color: #bc2732;
}
.fa-linkedin:hover {
    color: #bc2732;
}
.fa-twitter:hover{
    color: #bc2732;
}
.phone {
    margin-right: 20px;
}
div > .ico {
    margin-left: 20px;
}

                        /* SECOND ROW */

.box1 {
    white-space: nowrap;
    background-color: #ffffff;
    height: 138px;
}
.logo {
    margin: 27px 0 0 139px;
    display: inline-block;
    float: left;
}
.subtitle {
    font-family: "Myriad Pro Regular", Serif, serif;
    display: inline-block;
    float: right;
    margin-right: 112px;
    margin-top: 32px;
}
.bold {
    font-weight: 900;
}
.thin {
    color: rgb(122, 122, 122);
}
.subtitle1 {
    display: inline-block;
    padding: 10px 30px;
    border-right: solid 2px;
    border-color: #e6e6e6;
}
.subtitle2 {
    display: inline-block;
    padding: 10px 30px;
    border-right: solid 2px;
    border-color: #e6e6e6;
}
.subtitle3 {
    display: inline-block;
    padding: 10px 30px;
}

/* ------------------ N A V I G A T I O N ----------------------- */

.navigation {
    background-color: #010101;
    height: 65px;
    opacity: 0.6;
    position: absolute;
    width: 100%;
}
i.fa.fa-check-circle-o {
    margin-right: 5px;
    min-height: 34px;
    float: left;
}
nav {
    font-family: "Myriad Pro Regular", sans-serif;
}
nav > div {
    color: white;
    display: inline-block;
    margin-top: 24px;
}
.menu {
    float: left;
    padding: 0 10px;
}
.home {
    margin-left: 123px;
}
.mobile-menu {
    display: none;
}

.fa-search {
    color: white;
    display: inline-block;
    float: right;
    margin-top: 24px;
    margin-right: 148px;
}
.menu:hover {
    border-bottom: solid;
    border-color: red;
    padding-bottom: 14px;
    border-width: 8px;
}
.menu-clear {
    text-decoration: none;
    color: white;
}
.fa-search:hover {
    color: #bc2732;
}

/* ------------------------------ S L I D E R --------------------------------- */

.slider {
    background: rgba(0, 0, 0, 0.9);
    height: 600px;
    width: 100%;
}
.slide-content {
    background: url('../IMG/slide.png') center right no-repeat;
    width: 100%;
    height: 100%;
}
.slide-inside {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-left: 8px;
}
.slide-text {
    color: white;
    font-family: "Hind Semi Bold", sans-serif;
    font-size: 24px;
    margin-left: 139px;
}
.slide-text h1 {
    color: #bd2631;
    font-size: 32px;
}
.slide-text h2 {
    font-size: 43px;
}
.arrows {
    position: absolute;
    font-size: 100px;
    color: white;
}
.arrows:hover {
    cursor: pointer;
    color: #bc2732;
}
.arrow-left {
    position: absolute;
    left: 20px;
}
.arrow-right {
    position: absolute;
    text-align: right;
    right: 20px;
}

/* --------------------- R e d   B l o c k ----------------------------*/

.quote {
    height: 200px;
    width: 100%;
    background: #bd2631;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.request {
    margin-left: 139px;
    font-family: "Hind Light", sans-serif;
    font-size: 24px;
    color: #fff;
}
.request h2 {
    font-size: 30px;
}
.quote-button {
    font-family: "Hind Bold", sans-serif;
    padding: 15px 20px;
    background-color: #fff;
    margin-right: 120px;
    border-radius: 7%;

}
.quote-button a {
    text-decoration: none;
    color: black;
}
.quote-button:hover {
    cursor: pointer;
    background-color: #ededed;
}
.quote-button a:hover {
    color: #bd2631;
}


/* ----------------- R e c k t a n g l e    B l o c k s ------------------ */


                                /* FIRST ROW */

.first-row_mb {
    display: flex;
    height: 400px;
    width: 100%;
}
.products {
    background: black;
    width: 50%;
}
.products-inside {
    height: 100%;
    background: url("../IMG/sklad.png") no-repeat center;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.products-inside h1 {
    font-family: "Hind Regular", sans-serif;
    font-size: 30px;
    color: #bd2631;
    margin: 0 75px;
}
.products-inside p {
    font-family: "Hind Light", sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0 75px;
}
.transport {
    width: 25%;
    background: url("../IMG/transport.png") no-repeat center;
    background-size: cover;
}
.accumulator {
    width: 25%;
    background: url("../IMG/accum.png") no-repeat center;
}

                            /* SECOND ROW */

.second-row_mb {
    display: flex;
    height: 400px;
    width: 100%;
}
.wires {
    width: 25%;
    background: url("../IMG/wires.png") no-repeat center;
    background-size: cover;
}
.wrench {
    width: 25%;
    background: url("../IMG/wrench.png") no-repeat center;
}
.services {
    background: black;
    width: 50%;
}
.services-inside {
    height: 100%;
    background: url("../IMG/sklad.png") no-repeat center;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.services-inside h1 {
    font-family: "Hind Regular", sans-serif;
    font-size: 30px;
    color: #bd2631;
    margin: 0 75px;
}
.services-inside p {
    font-family: "Hind Light", sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0 75px;
}

                        /* THIRD ROW */

.third-row_mb {
    display: flex;
    height: 400px;
    width: 100%;
}
.battery {
    background: black;
    width: 50%;
}
.battery-inside {
    height: 100%;
    background: url("../IMG/battery.png") no-repeat center;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.battery-inside h1 {
    font-family: "Hind Regular", sans-serif;
    font-size: 30px;
    color: #bd2631;
    margin: 0 75px;
}
.battery-inside p {
    font-family: "Hind Light", sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0 75px;
}
.trash-bin {
    background: #bd2631;
    width: 25%;
}
.trash-bin-inside{
    height: 100%;
    background: url("../IMG/trash-bin.png") no-repeat center;
}
.switches {
    width: 25%;
    background: url("../IMG/switches.png") no-repeat center;
    background-size: cover;
}

/* ----------------------- R E S P O N S I V E --------------------*/

@media screen and (max-width: 1139px) {
    /* ----- h e a d e r ------- */
    .box {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .icons {
        margin: 0;
        padding: 0 20px;
    }
    .box div {
        margin: 0;
        padding: 0 20px;
    }
    div .phila {
        margin: 0 0 0 10px;
        padding: 10px 10px;
    }
    .box1 {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
    .logo {
        float: none;
        margin: 0;
        padding: 0 10px;
    }
    .subtitle {
        float: none;
        margin: 0;
        padding: 10px 10px;
    }
    /* -------- m e n u ---------- */
    .home {
        margin-left: 70px;
    }
    .fa-search {
        margin-right: 85px;
    }
    /* ------- s l i d e r --------- */
    .slide-text {
        font-size: 22px;
        margin-left: 90px;
    }
    .slide-text h1 {
        font-size: 30px;
    }
    .slide-text h2 {
        font-size: 41px;
    }
    .arrows {
        font-size: 90px;
    }
    /* ----- r e d   b l o c k ---------*/
    .request {
        margin-left: 30px;
    }
    .quote-button {
        margin-right: 25px;
    }
    /* --- r e c k t a n g l e   b l o c k s --- */
    /* FIRST ROW */
    .first-row_mb {
        height: 350px;
    }
    /* SECOND ROW */
    .second-row_mb {
        height: 350px;
    }
    /*THIRD ROW */
    .third-row_mb {
        height: 350px;
    }
}

@media screen and (max-width: 932px) {
    /* ----- h e a d e r -------- */
    .box {
        height: 100px;
    }
    /* -------- m e n u ---------- */
    .home {
        margin-left: 25px;
    }
    .fa-search {
        margin-right: 48px;
    }
    /* ------- s l i d e r --------- */
    .slide-text {
        font-size: 19px;
        margin-left: 65px;
    }
    .slide-text h1 {
        font-size: 27px;
    }
    .slide-text h2 {
        font-size: 38px;
    }
    .arrows {
        font-size: 75px;
    }
    /* ----- r e d   b l o c k ---------*/
    .request {
        margin-left: 15px;
        font-size: 21px;
    }
    .request h2 {
        font-size: 27px;
    }
    .quote-button {
        margin-right: 15px;
    }
    /* --- r e c k t a n g l e   b l o c k s --- */
    /* FIRST ROW */
    .first-row_mb {
        height: 300px;
    }
    /* SECOND ROW */
    .second-row_mb {
        height: 300px;
    }
    /*THIRD ROW */
    .third-row_mb {
        height: 300px;
    }
}

@media screen and (max-width: 821px) {
    /* ----- h e a d e r -------- */
    .box1 {
        height: 180px;
    }
    .logo {
        padding: 10px 10px;
    }
    /* -------- m e n u ---------- */
    .home {
        margin-left: 10px;
    }
    .menu {
        font-size: 13px;
    }
    .fa-search {
        margin-right: 20px;
        font-size: 14px
    }
    /* ------- s l i d e r --------- */
    .slide-text {
        font-size: 16px;
        margin-left: 55px;
    }
    .slide-text h1 {
        font-size: 24px;
    }
    .slide-text h2 {
        font-size: 35px;
        padding-right: 55px;
    }
    .arrows {
        font-size: 70px;
    }
    .arrow-left {
        left: 13px;
    }
    .arrow-right {
        right: 13px;
    }
    /* ----- r e d   b l o c k ---------*/
    .quote {
        height: 170px;
    }
    .request {
        margin-left: 10px;
        font-size: 17px;
        padding-right: 10px;
    }
    .request h2 {
        font-size: 23px;
    }
    .quote-button {
        margin-right: 10px;
        padding: 11px 16px;
    }
    /* --- r e c k t a n g l e   b l o c k s --- */
    /* FIRST ROW */
    .first-row_mb {
        height: 600px;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .products {
        width: 100%;
        height: 50%;
        order: 1;
    }
    .products::after {
        content: '';
        width: 100%;
        order: 1;
    }
    .transport {
        width: 50%;
        height: 50%;
        order: 2;
    }
    .accumulator {
        width: 50%;
        height: 50%;
        order: 2;
    }
    /* SECOND ROW */
    .second-row_mb {
        height: 600px;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .wires {
        width: 50%;
        height: 50%;
        order: 2;
    }
    .wrench {
        width: 50%;
        height: 50%;
        order: 2;
    }
    .services::after {
        content: '';
        width: 100%;
        order: 1;
    }
    .services {
        width: 100%;
        height: 50%;
        order: 1;
    }
    /*THIRD ROW */
    .third-row_mb {
        height: 600px;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .battery {
        width: 100%;
        height: 50%;
        order: 1;
    }
    .battery::after {
        content: '';
        width: 100%;
        order: 1;
    }
    .trash-bin {
        width: 50%;
        height: 50%;
        order: 2;
    }
    .switches {
        width: 50%;
        height: 50%;
        order: 2;
    }

}
@media screen and (max-width: 640px) {
    /* -------- m e n u ---------- */
    .menu {
        display: none;
    }
    .mobile-menu {
        display: inline-block;
        margin: 0;
        padding: 14px 15px;
        font-size: 30px;
    }
    .mobile-menu:hover {
        cursor: pointer;
        color: #bd2631;
    }
    /* ------- s l i d e r --------- */
    .slider {
        height: 500px;
    }
    .slide-text {
        font-size: 13px;
        margin-left: 40px;
    }
    .slide-text h1 {
        font-size: 21px;
    }
    .slide-text h2 {
        font-size: 30px;
        padding-right: 55px;
    }
    .arrows {
        font-size: 50px;
    }
    .arrow-left {
        left: 10px;
    }
    .arrow-right {
        right: 10px;
    }
    /* ----- r e d   b l o c k ---------*/
    .quote {
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    /* ----- h e a d e r -------- */
    .box1 {
        height: 200px;
    }
    .subtitle {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        padding: 0 0 10px 0;
    }
    .subtitle1 {
        padding: 8px 14px;
    }
    .subtitle2 {
        padding: 8px 14px;
    }
    .subtitle3 {
        padding: 8px 14px;
    }
    .box {
        font-size: 13px;
    }
    .logo {
        width: 80%;
        height: 80%;
        padding: 10px 0 0 20px;
    }
    /* ------- s l i d e r --------- */
    .slide-text {
        padding-right: 55px;
    }
    .slide-text h2 {
        font-size: 29px;
    }
    /* ----- r e d   b l o c k ---------*/
    .quote {
        height: 200px;
    }
}

