@font-face {
    font-family: "Myriad Pro Regular";
    src: url('../Fonts/Myriad Pro Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FontAwesome';
    src: url("../Fonts/fontawesome-webfont.svg");
    src: url("../Fonts/fontawesome-webfont.ttf");
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
.container {
    overflow: hidden;
}
.box {
    white-space: nowrap;
    height: 65px;
    background-color: #ededed;
}
.box div {
    width: auto;
    display: inline-block;
    margin-top: 14px;
    font-family: "Myriad Pro Regular", Serif, serif;
    vertical-align: middle;
}
.phila {
    margin: auto 31px auto 139px;
    font-family: "Myriad Pro Regular", serif;
    padding: 10px 10px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5%;
}
.phone {
    color: rgb(86, 86, 85);
}
.adress {
    color: rgb(86, 86, 85);
}
.fa-phone {
    color: black;
}
.fa-location-arrow {
    color: black;
}
.icons {
    float: right;
    margin-right:139px;
    padding-top: 9px;
}
.icons a {
    text-decoration: none;
    color: black;
}
.fa-envelope:hover {
    color: #bc2732;
}
.fa-youtube:hover {
    color: #bc2732;
}
.fa-google-plus:hover {
    color: #bc2732;
}
.fa-linkedin:hover {
    color: #bc2732;
}
.fa-twitter:hover{
    color: #bc2732;
}
.phone {
    margin-right: 20px;
}
div > .ico {
    margin-left: 20px;
}
.container1 {
    overflow: hidden;
}
.box1 {
    white-space: nowrap;
    background-color: #ffffff;
    height: 138px;
}
.logo {
    margin: 27px 0 0 139px;
    display: inline-block;
    float: left;
}
.subtitle {
    font-family: "Myriad Pro Regular", Serif, serif;
    display: inline-block;
    float: right;
    margin-right: 112px;
    margin-top: 32px;
}
.bold {
    font-weight: 900;
}
.thin {
    color: rgb(122, 122, 122);
}
.subtitle1 {
    display: inline-block;
    padding: 10px 30px;
    border-right: solid;
    border-color: #808080;
}
.subtitle2 {
    display: inline-block;
    padding: 10px 30px;
    border-right: solid;
    border-color: #808080;
}
.subtitle3 {
    display: inline-block;
    padding: 10px 30px;
}
.container2 {
    background-color: #010101;
    height: 65px;
}
i.fa.fa-check-circle-o {
    margin-right: 5px;
    min-height: 34px;
    float: left;
}
nav {
    font-family: "Myriad Pro Regular", serif;
}
nav > div {
    color: white;
    display: inline-block;
    margin-top: 24px;
}
.menu {
    float: left;
    padding: 0 10px;
}
nav:first-child {
    margin-left: 123px;
}
.fa-search {
    color: white;
    display: inline-block;
    float: right;
    margin-top: 24px;
    margin-right: 148px;
}
.menu:hover {
    border-bottom: solid;
    border-color: red;
    padding-bottom: 14px;
    border-width: 8px;
}
.clear {
    text-decoration: none;
    color: white;
}
.fa-search:hover {
    color: #bc2732;
}